.content {
    height: 90vh;
    width: 100%;
    border: 1px dashed gray;
    font-family: inter;
    .header-text, .middle-text {
        width: 100%;
        height: fit-content;
        color: black;
        text-align: center;
        font-size: 20px;
    }

    .header-text {
        position: relative;
        top: 5vh;
    }

    .middle-text {
        position: relative;
        top: 40vh;
    }

    span {
        font-size: 25px;

        .list-one {
            top: 25vh;
            position: absolute;
            left: 8vw;
        }
    
        .list-two {
            top: 25vh;
            right: 14vw;
            position: absolute;
        }
    }

    .final-results {
        width: 100%;
        text-align: center;
        font-style: italic;
        font-size: 40px;
        position: fixed;
        bottom: 15vh;
    }
}